
.idea/

.mono/temp/

ScienciaMagica/.mono/temp/

ScientiaMagica.Common/bin/

ScientiaMagica.Common/obj/

ScientiaMagica.PluginLoader/bin/

ScientiaMagica.PluginLoader/obj/

ScientiaMagica.Options/bin/

ScientiaMagica.Options/obj/
